*{
	margin:0;
	padding: 0;
}
#gift{
	position: relative;
    z-index: 100;
    font-size: 48px;
    top: 13px;
    left: 35px;
    color:#474c62;
}
#cinta{
	background-color:white;
	border-radius: 50%;
}
#logo{
	position: relative;
    z-index: 100;
    width: 48px;
    top: 21px;
    left: 20px;
}
#map{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
#destino{
	position: relative;
	background-color: white;
    border-radius: 7px;
    padding-top: 13px;
    margin-top: 409px;
    border:none;
    z-index: 100;
}
#set{
	position: relative;
	background-color: #8178aa;
    border-radius: 7px;
    height: 54px;
    width: 100%;
    margin: -12px 0;
    color: white;
    font-size: 22px;
    border: none;
    z-index: 101;
}