.material-icons.medium {
    font-size: 35px;
    color: black;
    cursor: pointer;
}

.signup {
    font-size: 20px;
    margin-right: 30px;
}

.nav-content {
    padding-bottom: 10px;
}

.nav-extended {
    background-color: white;
    color: black;
}

.phone-countries {
    margin-top: 20px;
}

.btn-large {
    width: 100%;
    background-color: #ff00bb;
    margin-top: 15px;
}